*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
nav{
    color: white;
    background-color: rgb(78, 75, 75);
    min-height: 100px;
    position: center;

}
nav ul {
    display:inline-flex;
}

nav ul li {
    width: 120px;
    margin: 15px;
    padding: 10px;
}
/* header nav ol li{
    margin: 0;
    padding: 0;
    float:left;
    margin: 10px; 
} */

article{
    width: 30%;
    float: right;
    padding-right: 130px;
    margin-right: 110px;
    /* float: none; */
    /* font-style: italic; */
}

article h3{
   text-align:left;
   color: rgb(102, 102, 102);
   font-family: cursive;
}

article p{
    font-family:unset;
    text-align: left;
    color: rgb(102, 102, 102);
    overflow: hidden;
}



article button {
    color: white;
    background: black;
    width: 150px;
    height: 30px;
    float: left;
    transition-duration: 350ms;
    
}

article button:hover{
background-color: #3e8e41

}

span{
position:sticky; 
margin-left: 180px;

   
}

footer {
    background-color: rgb(78, 75, 75);
    padding: 50px;
    text-align: center;
    
}